<!-- views/shared/head.ejs -->

<title><%= title %></title>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link rel='stylesheet' href='./stylesheets/style.css'/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
<script src="./javascripts/angularApp.js"></script>
<script src="./javascripts/services/charactersServices.js"></script>
<script src="./javascripts/controllers/priorityController.js"></script>
<script src="./javascripts/controllers/mainController.js"></script>
<style>
    .glyphicon-thumbs-up {
        cursor: pointer
    }
</style>